<nav class="topnav">
  <div class="topnav-inner">
    <a class="nav-item" href="{{ '/' | relative_url }}">Home</a>
    <a class="nav-item" href="{{ '/vitae' | relative_url }}">Vitae</a>
    <a class="nav-item" href="{{ '/research' | relative_url }}">Research</a>
    <a class="nav-item" href="{{ '/teaching' | relative_url }}">Teaching & Supervision</a>
    <a class="nav-item" href="{{ '/activities' | relative_url }}">Activities</a>
    <a class="nav-item" href="{{ '/misc' | relative_url }}">Misc</a>
  </div>
</nav>
